<div class="panel panel-default">
  <div class="panel-body">
    <div class="form-inline">
      <div class="form-group">
        <label style="color:#5F5F5F">Wallet-ID:</label>
        <input type="text" id="adressInput" class='form-control' ng-model="adress"/>
      </div>
      <button type="submit" class="btn btn-primary" ng-click="$ctrl.loadUserData(adress)">Abfragen</button>
    </div>
    <br/>
    <hr>
    <div class="row">
      <div class="col-sm-4">
        <h4 style="color:#5F5F5F">Wallet von:</h4>
      </div>
      <div class="col-sm-8">
        <h4 style="color:#5F5F5F">{{name}}<h4>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <h4 style="color:#5F5F5F">Anzahl der eigenen Aktien:</h4>
      </div>
      <div class="col-sm-8">
        <h4 style="color:#5F5F5F">{{balance[0].qty}}<h4>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <h4 style="color:#5F5F5F">Rechte:</h4>
      </div>
      <div class="col-sm-8">
        <h4 style="color:#5F5F5F">{{rights}}<h4>
      </div>
    </div>
    <hr>
    <h3 style="color:#5F5F5F">Letzte Transaktionen</h3>
    <br/>
    <div class="row">
      <div class="col-sm-6">
        <div class="list-group">
          <a href="#" class="list-group-item" ng-repeat="transaction in transactions">
            <div class="row">
              <div class="col-sm-6">
                <p class="list-group-item-heading">Kontrahent: {{ transaction.addresses[0] }}</p>
                <p class="list-group-item-text">Aktie: {{ transaction.balance.assets[0].name }}</p>
                <p class="list-group-item-text">Anzahl: {{ transaction.balance.assets[0].qty }}</p>
              </div>
              <div class="col-sm-6">
                <p class="list-group-item-text text-center" style="float:none">{{ transaction.time }}</ph4>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-6">
        <span/>
      </div>
    </div>
  </div>
</div>
